//override all variable

$primary: #003e7a;
$secondary: #ebf2fa;
$warning: #fcde78;


//$tertiary: goldenrod;
//
//$theme-colors: (
//  "tertiary": $tertiary,
//);

//border-success

@import "bootstrap/bootstrap";
//way1: put under the import to override!

//h4 {
//  border-bottom: 2px solid $primary;
//  font-size: 2rem;
//  //third

//}

.tab-content {
  background-color: #ebf2fa;
}

#something {
  //always first precedence
}
.somethingElse {
  //second
}
//sudo selectors are the last thing
:disabled, * {
  //fourth
}

.navbar * {
  //fourth any nav bar and any child
}